<article class="osbekro-comment">
    <header>
        <h1>{{comment.authorName}}</h1>, {{comment.created|date("d-m-Y")}}
    </header>
    <div class="osbekro-comment-content">
    <div style="float:left; padding:5px;">
        <img src="{{ getUserPhoto(comment.author) | apply_filter('micro_thumb') }}" /></div>
    <p>{{comment.body}}</p>
    </div>
</article>